/*  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap');

/*  */

* {
    font-family: 'work sans', sans-serif;
}

/* Header section styles */

header {
    background-color: #d59a9a;
    padding: 5px 150px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
}

nav  ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin-left: 60px;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}

header img {
    width: 100%;
    margin: 40px 0px 0px 0px;
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* responsive media queries */

@media screen and(max-width:576px) {
    header{
        flex-direction: column;
        padding: 30px;
    }
    nav ul{
        flex-direction: column;
    }    
}
/* for tablet or something */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        flex-direction: column;
        padding: 50px;
    }
    nav ul{
        flex-direction: column;
    }
}

/* main styles */
main{
    max-width: 1440px;
    margin: 0px auto;
}
.teams-container{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.teams-content{
    padding-left: 40px;
}
.teams-title {
    font-size: 3rem;
}
.quick-list{
    color: #727272;
    font-weight: 500 ;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}
